name: Sync with Hugging Face Hub

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Sync with Hugging Face
        uses: nateraw/huggingface-sync-action@v0.0.5
        with:
          github_repo_id: SathvikDixit/Segmentation-of-Teeth-in-Panoramic-X-ray-Image-Using-U-Net
          huggingface_repo_id: DemonsSlayer/DentalSegmentation
          repo_type: space
          space_sdk: gradio
          hf_token: ${{ secrets.HF_TOKEN }}
